<mat-card class="example-card" id="assignset" style='padding: 0 !important;'>
  <mat-card-header >
    <mat-card-title><b>{{title}}</b></mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
              <table class="example-full-width" cellspacing="0" *ngIf="global.checkaccess(':Code:SetDetailPost')&&data.indi==null">
                <tr>
                  <td width="100%">
                    <div>
                        <mat-form-field class="example-full-widthminus">
                        <input autofocus matInput maxlength="7" placeholder="- Code No. -" value="" [(ngModel)]="codeno" (keydown)="keyDownFunctionCODE($event)" [disabled]="codeenable" style="color: black">
                      </mat-form-field>&nbsp;
                      <button mat-raised-button color="primary"  (click)="keyDownFunctionCODE('onoutfocus')" style="font-size:11px;width: 100px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px" [disabled]="codeenable" ><i class="material-icons">slideshow
                        </i> 
                        <span style="margin-top: 7px"> Add Code&nbsp;&nbsp;</span></button>
                    </div>
                    </td>
                </tr>
                </table>  
                <div style="max-height: calc(100vh - 300px);overflow-y: scroll;">            
                  <mat-table #table [dataSource]="dataSource" matSort *ngIf="arraysubjects!=undefined" >

                     <ng-container matColumnDef="codeno">
                        <mat-header-cell *matHeaderCellDef style="width: 75px;flex: 0 0 75px"> Code No</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 75px;flex: 0 0 75px">
                        <div class="rolerow">
                         <b>{{element.codeNo.toUpperCase()}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="subjectId">
                        <mat-header-cell *matHeaderCellDef style="width: 100px;flex: 0 0 100px"> Subject ID</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 100px;flex: 0 0 100px">
                        <div class="rolerow">
                         <b>{{element.subjectId}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="subjectTitle">
                        <mat-header-cell *matHeaderCellDef> Descriptive Title</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                        <div class="rolerow">
                         <b>{{element.subjectTitle}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="day">
                        <mat-header-cell *matHeaderCellDef style="width: 50px;flex: 0 0 50px"> Day</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 50px;flex: 0 0 50px">
                        <div class="rolerow">
                         <b>{{element.day}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef style="width: 140px;flex: 0 0 140px"> Time</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 140px;flex: 0 0 140px"  >
                        <div class="rolerow">
                         <b>{{element.time}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="roomNumber">
                        <mat-header-cell *matHeaderCellDef style="width: 50px;flex: 0 0 50px"> Room</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 50px;flex: 0 0 50px">
                        <div class="rolerow">
                         <b>{{element.roomNumber}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="units">
                        <mat-header-cell *matHeaderCellDef style="width: 50px;flex: 0 0 50px"> Units</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 50px;flex: 0 0 50px">
                        <div class="rolerow">
                         <b *ngIf="!checkvisible(element.codeNo)">{{element.units}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="classSize">
                        <mat-header-cell *matHeaderCellDef style="width: 75px;flex: 0 0 75px"> CLass Size</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 75px;flex: 0 0 75px">
                        <div class="rolerow">
                         <b>{{element.classSize}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="oe">
                        <mat-header-cell *matHeaderCellDef style="width: 40px;flex: 0 0 40px"> OE</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 40px;flex: 0 0 40px">
                        <div class="rolerow">
                         <b>{{element.oe}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="res">
                        <mat-header-cell *matHeaderCellDef style="width: 40px;flex: 0 0 40px"> Res</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 40px;flex: 0 0 40px">
                        <div class="rolerow">
                         <b>{{element.res}}</b> <br>
                      </div>
                      </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="action" *ngIf='data.indi==null'>
                        <mat-header-cell *matHeaderCellDef style="width: 70px;flex: 0 0 70px;text-align: center"> - Action - </mat-header-cell>
                        <mat-cell *matCellDef="let element"  style="width: 70px;flex: 0 0 70px;text-align: center">
                        <div class="rolerow" style="text-align: center;">
                         <button mat-raised-button  (click)="deleteCode(element.codeNo,element.detailId)" style="float:right;font-size:12px;min-width:18px;line-height: 3px;width:80px;height: 28px; padding: 0;background-color: #990000;color: white !important" *ngIf="!checkvisible(element.codeNo)"><i class="material-icons"> 
                         	delete
                          </i><span style="margin-top: 7px"> Delete&nbsp;&nbsp;&nbsp;</span></button>
                      </div>
                      </mat-cell>
                      </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                  </mat-table>
              <mat-spinner style="margin-left: auto;margin-right: auto;"  *ngIf="arraysubjects==undefined" ></mat-spinner>
                  <div   *ngIf="arraysubjects!=undefined" >
                  <p style="text-align: center;" *ngIf="arraysubjects.length==0">
                    - No codes added yet. - 
                  </p>
                  </div><br>
                  </div><button mat-raised-button (click)="close()">Cancel</button>
            </mat-card-content>
</mat-card>