<p *ngIf="data.data!=undefined&&data.type==0"style="text-align: center;">
	<progress id="file" [value]="percent" [max]="data.data.length" style="width: 100%"></progress>
	<span style="text-align: center;margin-top: 5px">{{percent}}/{{data.data.length}} sent</span>
</p>


<div *ngIf="data.type==1">
	<mat-card class="example-card" id="addset" style='padding: 0 !important;max-height: calc(100vh - 150px);overflow-y: auto;'>
  <mat-card-header >
    <mat-card-title><b>Applicant No.: {{data.applicantNo}}</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
		<table class="apptable">
			<tr>
				<th style="width: 50%">Date</th>
				<th style="width: 50%">Remarks</th>
			</tr>
			<tr *ngFor="let a of array" >
				<td>
					{{a.dateSent | date: 'mediumDate' }}
				</td>
				<td>
					{{a.remarks}}
				</td>
			</tr>
		</table>
	</mat-card-content>
	</mat-card>

	    <div>
	      <button mat-raised-button color="warning" (click)="close()" style="float: right;" >Close</button>
	    </div>
</div>