.example-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-full-width2 {
  width: 175px;
}
.example-full-width3 {
  width: 60px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color:white;
}
::ng-deep .mat-card-header * {
    color:white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix{
  width: auto !important;
}

.example-full-widthminus{
  width: calc(100% - 50px)
}

mat-header-cell:nth-child(1), mat-cell:nth-child(1),mat-header-cell:nth-child(3), mat-cell:nth-child(3),mat-header-cell:nth-child(4), mat-cell:nth-child(4){
    flex: 0 0 100px;
}

.mat-form-field{
  margin-bottom: -20px;
}

	.example-spacer{
    flex: 1 1 auto;
}

	span{
		font-size: 14px
	}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color:white;
}
::ng-deep .mat-card-header * {
    color:white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix{
  width: auto !important;
}
.btnstyle{
  font-size:11px !important;
  width: 70px !important;
  min-width:18px !important;
  line-height: 15px !important;
  height: 28px !important;
  padding: 0 !important;
  margin-left: 5px !important
}

#childrenCSS {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#childrenCSS td, #childrenCSS th {
  border: 1px solid #ddd;
  padding: 8px;
}

#childrenCSS tr:nth-child(even){background-color: #f2f2f2;}

#childrenCSS tr:hover {background-color: #ddd;}

#childrenCSS th {
  padding-top: 8px;
  padding-bottom: 8;
  text-align: left;
  background-color: #294a70;
  color: white;
}

.headerBcg{
  height: 20px!important; 
}
.headerCardTitle{
  margin-top: -10px!important;
}
.headerTitle{
  font-size: 0.78em ;
}
.headerSubTitle{
  font-size: 0.65em;
}
#classtable th{
  padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #294a70;
    color: white;
}

.btnstyle{
  font-size:11px;
  width: 40px;
  min-width:18px;
  line-height: 15px;
  height: 28px;
  padding: 0;
  margin-left: 5px
}


 .bordered {
            border: 1px solid black;
            border-collapse: collapse;
            }
            .padleft{
            }
            .subdits td {
              padding-left: 5px;
              padding-right: 5px;
            }
            .tdcenter {
              text-align: center;
            }
            .td75 {
              width: 60px;
            }
            .bordertop {
              border-top: 1px solid;            }
            .borderright {
              border-right: 1px solid;  
            }
            .borderleft {
              border-left: 1px solid; 
            }
            .borderbottom {
              border-bottom: 1px solid; 
            }