
<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title><b>Role Management</b></mat-card-title>
  </mat-card-header>
  
  <mat-card-content class='colo'>
  	<mat-divider></mat-divider>
 		<table>
			<tr>
				<td>
					<button mat-raised-button color="primary" style="margin:10px" (click)="openDialog()"   *ngIf="global.checkaccess(':Role:Create')"><i class="material-icons">
					add_circle
					</i> Add Role</button>
				</td>
				<td style="text-align: right;">
					 <mat-form-field>
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">

					    </mat-form-field>
				    <button mat-mini-fab color="primary">
					    <mat-icon><mat-icon>filter_list</mat-icon></mat-icon>
					  </button>
				</td>
			</tr>
		</table>
  	


  	<mat-table #table [dataSource]="dataSource" matSort>

   <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Role Management </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <div class="rolerow">
       <b>{{element.name}}</b>
	  </div>
	  </mat-cell>
    </ng-container>
   <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef  style="width: 150px;flex: 0 0 150px;text-align: center"> - Action - </mat-header-cell>
      <mat-cell *matCellDef="let element" style="width: 250px;flex: 0 0 250px;text-align: center">
      		<div>
						<button mat-raised-button style="width: 150px;color:white;background-color:#006400;" class="buttondesign" (click)="openDialogUpdate(element.id)"  *ngIf="global.checkaccess(':Role:AccessLists')">
              <i class="material-icons" >edit</i> 
                        <span style="margin-top: 7px"> Assign/Update Role&nbsp;&nbsp;</span></button>
			 </div>


             <button mat-raised-button style="width: 80px;background-color:#990000;color:white;" class="buttondesign"  (click)="removeRole(element.id)" *ngIf="global.checkaccess(':Role:Delete') && element.name!='Administrator'"><i class="material-icons">delete
                        </i> 
                        <span style="margin-top: 7px"> Remove&nbsp;&nbsp;</span></button>
	  </mat-cell>
    </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        
        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
        <mat-paginator 
		         #paginator
		       [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
		</mat-paginator>
		 </mat-card-content>
</mat-card>
