<div id="bginfo">
	<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Educational Backgroud</b></mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
  	<br>
		  <table  cellspacing="0" style="width: 100%">
		  <tr>
		    <td width="100%">
            <mat-form-field style="width: 70%" >
              <mat-label>Program Level</mat-label>
              <mat-select  [(ngModel)]="proglevel" [disabled]="disabled">
                <mat-option value="{{f.programLevel}}"  *ngFor="let f of arrayproglevel" (click)="getprogram(f.programLevel)">
                  {{f.progLevelDesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
            <mat-form-field style="width: 100%" >
              <mat-label>Program Name:</mat-label>
              <mat-select  [(ngModel)]="prog"  [disabled]="disabled">
                <mat-option value="{{f.programID}}"  *ngFor="let f of arrayprog" (click)="assign(f.programTitle)">
                  {{f.programTitle}}
                </mat-option>
              </mat-select>
            </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
		    	<form class="example-form">
					  <mat-form-field class="example-full-width">
					    <input type="text" placeholder="School Name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
					    <mat-autocomplete #auto="matAutocomplete">
					      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					        {{option}}
					      </mat-option>
					    </mat-autocomplete>
					  </mat-form-field>
					</form>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
		  	<mat-form-field>
		      <input matInput placeholder="Year Graduated" [(ngModel)]="yeargrad" maxlength="4" minlength="4">
		    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
		  	<mat-form-field>
		      <input matInput placeholder="Other Info" [(ngModel)]="otherinfo">
		    </mat-form-field>
		    </td>
		  </tr>
		  </table>
		  
	</mat-card-content>
</mat-card>
</div>
<div mat-dialog-actions style="float: left">
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
</div>
<div mat-dialog-actions style="float: right">
  <button mat-raised-button color="primary" (click)="save()" *ngIf="data.seek==1">Update</button>
  <button mat-raised-button color="primary" (click)="saveadd()" *ngIf="data.seek==0">Save</button>
</div>