<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title>
    	<b *ngIf="data.type==1">Add Application</b>
    	<b *ngIf="data.type==2">Update Application</b>
    	<b *ngIf="data.type==3">Assign Access to Application</b>
	</mat-card-title>
  </mat-card-header>
  <mat-card-content   class='contentthis' >
		  <table class="example-full-width" cellspacing="0" *ngIf='data.type!=3'>
		  <tr>
		    <td width="40%">
		  		<mat-form-field class="widthtext" appearance="outline">
              		<mat-label>- App username -</mat-label>
			      <input matInput type="text" [(ngModel)]="appname">
			    </mat-form-field>
			</td>
		    <td width="40%">
		  		<mat-form-field class="widthtext" appearance="outline">
              		<mat-label>- App password -</mat-label>
			      <input matInput type="password" [(ngModel)]="apppassword">
			    </mat-form-field>
			</td>
		    <td width="20%">
  				<button mat-raised-button cdkFocusInitial color="primary" (click)="resetpassword(2)" style="margin-top: -20px;margin-left: 10px" *ngIf='data.type==2'>Reset</button>
  				<button mat-raised-button cdkFocusInitial color="primary" (click)="resetpassword(1)" style="margin-top: -20px;margin-left: 10px" *ngIf='data.type==1'>Add App</button>
			</td>
		  	<!--<mat-form-field class="example-full-width">
		      <input matInput placeholder="LR Number" value="" [(ngModel)]="options.value.lrno" name="lrno" required>
		    </mat-form-field>-->
		  </tr>
		  </table>
		  <h3 *ngIf='data.type==3'>Application: {{appname}}</h3>
		  <table *ngIf="data.type==3">
		  	<tr>
		  		<td style="width: 75%;">
		  			<b>Access Rights</b>
		  			<div style="max-height: calc(100vh - 420px);overflow-y: scroll;">
						  <table style="width: 100%;"  *ngFor="let dis of access">
						  	<tr>
						  		<td>
									  <mat-expansion-panel>
									    <mat-expansion-panel-header>
									      <mat-panel-title><b>{{dis.name}}</b>
									      </mat-panel-title>
									    </mat-expansion-panel-header>
								  			<table>
											  	<tr *ngFor="let dis2 of dis.actions">
											  		<td style="padding-left: 20px"><mat-checkbox  onclick="return false;" [checked]='check(dis,dis2.id)' (click)="tempArray(dis,dis2,$event);" [disabled]="enabled"> {{dis2.name}}</mat-checkbox></td>
											  	</tr>
								  			</table>
									  </mat-expansion-panel>
						  		</td>
						  	</tr>
						  </table>
					</div>
				</td>
		  	</tr>


		  	
		  </table>
	</mat-card-content>
</mat-card>
<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onNoClick()" color="warning">Close</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="assign()" *ngIf="data.type==3">Save</button>
</div>
 