/* You can add global styles to this file, and also import other style files */

@import './usltheme.scss';


@function black($opacity) {
  @return rgba(black, $opacity);
}

body{
	margin:0;
}

mat-card{
  margin:10px;
}

mat-card-title{
  font-size: 16px !important;
}

.example-card{
  overflow: hidden
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.matcontainer{
	max-height:calc(100vh - 173px);
	min-height:calc(100vh - 173px);
	overflow-y: scroll;
}

.matcontainer p {
	font-size: 14px;
}

.hnav button {
	font-size: 12px;
}

.hnav mat-icon {
	font-size: 20px;
}
.mat-menu-item{
	font-size: 14px;
}

#coverp{
	background: url(assets/user-info.jpg) no-repeat;
	background-size: 380px auto;
}
#photop{
	border-radius: 50%;text-align: center;
    margin-left: auto;
    margin-right: auto;display: block;
    padding-top:10px;
    padding-bottom:10px;
}

#fullname{
  color: white;
  background: black(0.5);
  text-align:center;
  padding:10px;
}
 *{font-family: Roboto,"Helvetica Neue",sans-serif;}

 .apptable {
  border-collapse: collapse;
  width: 100%;
}
    .apptable td, .apptable th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .apptable tr:nth-child(even){background-color: #f2f2f2;}

  .apptable tr:hover {background-color: #ddd;}

  .apptable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
  }

 .apptablegrade {
  border-collapse: collapse;
  width: 100%;
}
    .apptablegrade td, .apptablegrade th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .apptablegrade tr:hover {background-color: #ddd;}

  .apptablegrade th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
  }

.buttondesign{
  font-size:11px !important;
  min-width:18px !important;
  line-height: 15px !important;
  height: 28px !important;
   padding: 0 !important;
   margin-left: 5px !important;
}

