<mat-card class="example-card" id="addset" style='padding: 0 !important;'>
  <mat-card-header >
    <mat-card-title><b *ngIf="data.data==1">Add Set</b><b *ngIf="data.data==0">Update Set</b></mat-card-title>
  </mat-card-header>
  
  <mat-card-content class='colo'>
  				<mat-form-field style="width: 50%;margin-top: 10px">
				  <mat-label>Program Level</mat-label>
				  <mat-select [(ngModel)]="proglevel" >
				    <mat-option  value="COLLEGE" (click)="loadyears('COLLEGE')">
				      College
				    </mat-option>
				    <mat-option  value="GRADUATE SCHOOL" (click)="loadyears('GRADUATE SCHOOL')">
				      Graduate School
				    </mat-option>
				  </mat-select>
				</mat-form-field><br>
				<mat-form-field style="width: 100%">
	              <mat-select [(ngModel)]="dept" name="department" placeholder="Department" [disabled]="activate1">
	                <mat-option value="{{f.departmentId}}" *ngFor="let f of departments" (click)="callgetcourse(f.departmentId)">
	                  {{f.departmentName}}
	                </mat-option>
	              </mat-select>
				</mat-form-field><br>
  				<mat-form-field style="width: 25%">
				  <mat-label>Year/Grade</mat-label>
	              <mat-select [(ngModel)]="yearlevel" name="yearlevel" placeholder="Year/Grade" [disabled]="activate1">
	                <mat-option value="{{f.year}}" *ngFor="let f of yeardrop" (click)="callgetcourse2(f.year)">
	                  {{f.name}}
	                </mat-option>
	              </mat-select>
				</mat-form-field><br>
  				<mat-form-field style="width: 75%">
	              <mat-select placeholder="Course" [(ngModel)]="programid" [disabled]="activate2" >
	                <mat-option value="{{f.programID}}"  *ngFor="let f of arraycourses">
	                  {{f.course}}
	                </mat-option>
	              </mat-select>
	            </mat-form-field>
  				

		    <mat-form-field style="width: 90%">
		      <mat-label>School Year</mat-label>
		      <mat-select [(ngModel)]="sy">
		        <mat-option *ngFor="let x of sylist" [value]="x.syWithSem" (click)="activate(x.syWithSem)">
		          {{ display(x.syWithSem) }}
		        </mat-option>
		      </mat-select>
		    </mat-form-field><br>
		    <div  *ngIf="data.data==0">
		    Status:  &nbsp; &nbsp; &nbsp; &nbsp;<mat-checkbox [checked]='active' disabled='true' onclick="return false;" [disabled]="enabled" (click)="setactive()"> Active</mat-checkbox> &nbsp; &nbsp; &nbsp; &nbsp;<mat-checkbox [checked]='inactive' onclick="return false;" [disabled]="enabled" (click)="setinactive()"> Inactive!</mat-checkbox>
		    </div>
		  <div style="height: 10px"></div>
		  <mat-divider></mat-divider>
		  <div style="height: 20px"></div>
	  <button mat-raised-button (click)="close()">Cancel</button>
	  <button mat-raised-button color="primary" form="ngForm" (click)="save()" style="float: right;" *ngIf="data.data==1">Add Set</button>
	  <button mat-raised-button color="primary" form="ngForm" (click)="save()" style="float: right;" *ngIf="data.data==0&&global.checkaccess(':Code:SetHeaderPut')">Update</button><br>&nbsp;
  </mat-card-content>
</mat-card>