<div style="padding:20px"> <h3 style="margin-top: 0">
	USL_ERP
</h3>
<p>
	A comprehensive program that provides robust functionality to manage the Academic Business Processes such as Admission, Course Planning, Resource Allocation (Class Scheduling, Room Assignment), Admission, Enrolment, Class Registration and Evaluation. It provides a centralized data storage that gives authorized users a single source of information through reports to make well-informed academic and operational decisions.
</p>

</div>